Makefile.global
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h.in
config.sub
configure
configure.in
install-sh
ltmain.sh
missing
mkinstalldirs
run-tests.php
.deps
.libs/
Makefile
Makefile.fragments
Makefile.objects
afk.la
afk.lo
config.h
config.log
config.nice
config.status
libtool
modules/
tests/001.diff
tests/001.exp
tests/001.log
tests/001.out
tests/001.php
